@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #0052cc;
  --color-bg-light: #f5f7f8;
  --color-bg-dark: #0f1723;
}

@layer base {
  body {
    @apply bg-bg-light text-slate-900 font-sans;
  }
}

.sidebar-item-active {
  @apply bg-blue-50 text-primary border-r-4 border-primary;
}

.glass-effect {
  @apply bg-white/80 backdrop-blur-md;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

